<h1>Notifications manager</h1>

<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <form class="bs-example form-horizontal" action="javascript: void(0);">
                <fieldset>
                    <legend>Push a notification</legend>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputNotification" placeholder="Enter your text here.">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Push</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('form.bs-example.form-horizontal').submit(function(){
            $('.form-group .col-lg-10.col-lg-offset-2 button').after('<span class="help-block" id="waiting"><small>Please wait, we are pushing the notification...</small></span>');
            $('.form-group .col-lg-10.col-lg-offset-2 button').addClass('disabled');

            <% s_ = @subscribes.last %>
            <% @subscribes.each do |s| %>
                FB.api('/<%=s.fb_userid-%>/notifications', 'post', {
                    'access_token': '<%=Settings.facebook.app_token-%>', 
                    'href' : '',
                    'template' : $('#inputNotification').val()
                }, function(response){
                    console.log(response);
                });
                <% if s_.fb_userid == s.fb_userid %>
                    $('span#waiting').remove();
                    $('.form-group .col-lg-10.col-lg-offset-2 button').removeClass('disabled');
                    $('#inputNotification').val('');
                <% end %>
            <% end %>
        });
    });
</script>