<h1>Edit subscribe</h1>

<form id="edit-subscribe" name="subscribe">
  <div class="field">
    <label for="firstname"> firstname:</label>
    <input type="text" name="firstname" id="firstname" value="<%= firstname %>" >
  </div>

  <div class="field">
    <label for="lastname"> lastname:</label>
    <input type="text" name="lastname" id="lastname" value="<%= lastname %>" >
  </div>

  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="field">
    <label for="birthdate"> birthdate:</label>
    <input type="text" name="birthdate" id="birthdate" value="<%= birthdate %>" >
  </div>

  <div class="field">
    <label for="use_conditions"> use_conditions:</label>
    <input type="text" name="use_conditions" id="use_conditions" value="<%= use_conditions %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Subscribe" />
  </div>

</form>

<a href="#/index">Back</a>
