<div class="center">
    <div>Error: <%=message%></div>
    <div id="facepile">
        <fb:facepile href="https://www.facebook.com/playapp/app_<%=data.config.facebook.app_id%>" max_rows="1" width="250"></fb:facepile>
    </div>
    <div class="boutonCss" id="btn_enter_popup">Je participe ! <span class="fleche"> </span></div>
</div>