<% if(data.request.page.liked == true){ %>
    <div id="onglet_fan" class="content">
        <button class="boutonCss" id="btn_enter">Je participe ! <span class="fleche"> </span></button>
    </div>
<% }else{ %>
    <div id="onglet_non-fan" class="content">
        <div id="btn_like">
            <fb:like href="https://www.facebook.com/playapp/app_<%=data.config.facebook.app_id%>" send="false" layout="button_count" width="200" show_faces="false"></fb:like>

            Clickez sur le bouton `J'aime` de la page
        </div>
    </div>
<% } %>