<h1>Participate</h1>
<form id='form_participate' action='javascript: void(0);'>
	<p><input type='text' name='firstname' id='firstname' value='<%=data.firstname%>' placeholder='Firstname' required='true' /></p>
	<p><input type='text' name='lastname' id='lastname' value='<%=data.lastname%>' placeholder='Lastname' required='true' /></p>
	<p><input type='text' name='email' id='email' value='<%=data.email%>' placeholder='Email' required='true' /></p>
	<p><input type='text' name='birthdate' id='birthdate' value='<%=data.birthdate%>' placeholder='Birth date' required='true' /></p>
	<p>Use conditions:<br /><input type='checkbox' name='use_conditions' id='use_conditions' value='true' required='true' /></p>
	<p><input type='hidden' name='fb_userid' id='fb_userid' value='<%=data.fb_userid%>' required='true' /></p>
	<p><input type='submit' value='Send' id='send_form' /></p>
</form>