<div id="end" class="content">
	<div id="bloc_partage">
		<div id="btn_invitation" class="boutonCss">J'invite des amis<span class="fleche"> </span></div>
		<div id="btn_publication" class="boutonCss">Je publie !<span class="fleche"> </span></div>
	</div>
</div>
<div id="block_filleuls">
	<img src="https://graph.facebook.com/<%= fb_userid %>/picture" width="50" height="50" />
</div>