<td><%= firstname %></td>
<td><%= lastname %></td>
<td><%= email %></td>
<td><%= birthdate %></td>
<td><%= use_conditions %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>