<div id="app">
	<center id='loading-ajax'><%= image_tag('ajax-loader.gif') -%> Loading...</center>
	<div id='fbapp'></div>
</div>
<% if @admin %>
	<%= link_to "Stats", {:controller => "subscribes" , :action => "stats" } -%>
<% end %>
<script>
	$(function() {
		window.router = new Formapp.Routers.SubscribesRouter({ request: <%= @request.to_json.html_safe -%>, config: <%= Settings.to_json.html_safe -%> });
		Backbone.history.start();
	});
</script>