<h1>Listing subscribers</h1>
<p><h3><%= link_to "Export", {controller: 'subscribes', action: 'list', :format => :xls} -%></h3></p>
<table class="table table-striped table-bordered table-hover" style='text-align: center'>
    <thead>
        <tr>
            <th></th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Birthdate</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% @subscribes.each do |subscribe| -%>
            <tr>
                <td><img src="https://graph.facebook.com/<%= subscribe.fb_userid -%>/picture" width="50" height="50" /></td>
                <td><%= subscribe.firstname -%></td>
                <td><%= subscribe.lastname -%></td>
                <td><%= subscribe.email -%></td>
                <td><%= subscribe.birthdate.strftime("%d/%m/%Y") -%></td>
                <td style='text-align: center'>
                    <%= button_to('Delete', subscribe, :method => :delete, :class => "btn btn-danger") %>
                </td>
            </tr>
        <% end -%>
    </tbody>
</table>