<div class="row">
	<div class="col-lg-3">
		<div class="well">
        	<b>From</b><input type="text" class="form-control" value="" data-date-format="dd-mm-yyyy" id="dp2" readonly >
      	</div>
		<div class="well">
        	<b>To</b><input type="text" class="form-control" value="" data-date-format="dd-mm-yyyy" id="dp1" readonly >
      	</div>
      	<div class="well">
        	<button type="submit" class="btn btn-primary center" id="dp_refresh">Refresh</button>
      	</div>
	</div>
	<div class="col-lg-7">
		<div class="well">
			<div id='participants_per_month' style='background: #fff; text-align: center;'><%= image_tag("ajax-loader.gif") -%> Loading...</div>
		</div>
	</div>
</div>

   <!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	var defaultDate = new Date().getDate()+'-'+(new Date().getMonth()+1)+'-'+new Date().getFullYear();

	$(document).ready(function(){
		$('#dp2, #dp1').val(defaultDate).datepicker();
		$('#dp_refresh').click(function(){
			drawChart($('#dp2').val(), $('#dp1').val());
		});
	});

	// Start at 0 index
    var monthNames = ["", "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December" ];

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(function(){drawChart(defaultDate, defaultDate);});
    function drawChart(from, to) {
    	$.get("<%= url_for :controller => 'subscribes', :action => 'index' -%>/getparticipantspermonth/"+from+'/'+to, function(data_raw){
    		var data_tmp = {}
    		for(x in data_raw){
    			if (!data_tmp[monthNames[parseInt(data_raw[x].created_at.split('-')[1])]])
    				data_tmp[monthNames[parseInt(data_raw[x].created_at.split('-')[1])]] = [];
				data_tmp[monthNames[parseInt(data_raw[x].created_at.split('-')[1])]].push(data_raw[x]);
    		}

    		var final_data = [['Month', 'Subscription']];
    		if (data_raw.length)
    			for(x in data_tmp){final_data.push([x, data_tmp[x].length]);}
			else
				final_data.push(["", 0]);

    		var data = google.visualization.arrayToDataTable(final_data);

	    	var options = {
	    		title: 'How many people filled the form lately?',
	    	};

    		$('#participants_per_month').html('');
    		var chart = new google.visualization.ColumnChart(document.getElementById('participants_per_month'));
    		chart.draw(data, options);
    	});
    }
</script>