<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Formapp" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
<![endif]-->

<%= stylesheet_link_tag "application", :media => "screen", :cache => true %>
<%= javascript_include_tag "application", :cache => true %>
<!-- For third-generation iPad with high-resolution Retina display: -->
<!-- Size should be 144 x 144 pixels -->
<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

<!-- For iPhone with high-resolution Retina display: -->
<!-- Size should be 114 x 114 pixels -->
<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

<!-- For first- and second-generation iPad: -->
<!-- Size should be 72 x 72 pixels -->
<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<!-- Size should be 57 x 57 pixels -->
<%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

<!-- For all other devices -->
<!-- Size should be 32 x 32 pixels -->
<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>


</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Back to the application", {:controller => "subscribes" , :action => "index" }, :class => 'navbar-brand' -%>
                <!-- <a class="navbar-brand" href="#">Back to the application</a> -->
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Notifications", {:controller => "admins" , :action => "notifications" } -%></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Subscribes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "List", {:controller => "subscribes" , :action => "list" } -%></li>
                            <li><%= link_to "Statistics", {:controller => "subscribes" , :action => "stats" } -%></li>
                        </ul>
                    </li>
                    <li><%= link_to "Administrators", {:controller => "admins" , :action => "index" } -%></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">
        <div class="row">
            <div class="span9">
                <%= bootstrap_flash %>
                <%= yield %>
            </div>
        </div><!--/row-->

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p><a href="#top">Back to top</a></p>
                    <p>&copy; <a href="http://playapp.net">PlayApp</a>.</p>
                </div>
            </div>
        </footer>

    </div> <!-- /container -->
    <div id='fb-root'></div>
    <script type="text/javascript">
        window.fbAsyncInit = function() 
        {
            FB.init({
              appId  : '<%= Settings.facebook.app_id -%>',
              status : true, // check login status
              cookie : true, // enable cookies to allow the server to access the session
              xfbml  : true, // parse XFBML
              oauth  : true
            });

            FB.Canvas.setAutoGrow();
            FB.Canvas.scrollTo(0,0);
        };


        (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/fr_FR/all.js";
             ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
</body>
</html>
