<!DOCTYPE html>
<html>
<head>
  <title>Formapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id='fb-root'></div>
<script type="text/javascript">
	window.fbAsyncInit = function() 
	{
		FB.init({
		  appId  : '<%= Settings.facebook.app_id -%>',
		  status : true, // check login status
		  cookie : true, // enable cookies to allow the server to access the session
		  xfbml  : true, // parse XFBML
		  oauth  : true
		});

		FB.Canvas.setAutoGrow();
		FB.Canvas.scrollTo(0,0);
	};


	(function(d){
		 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement('script'); js.id = id; js.async = true;
		 js.src = "//connect.facebook.net/fr_FR/all.js";
		 ref.parentNode.insertBefore(js, ref);
	}(document));
</script>
</body>
</html>
